@import "../mixin";
@import "../var";
@import "../breakpoints.scss";
.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 40px;
  @include container;
  margin-top: 40px;
  background-color: $creamColor;

  h1 {
    margin-top: 30px;
    @include headingTypography(2rem);
    color: $secondaryColor;
    font-weight: 600;
    text-align: left;
    text-align: center;
  }
  button {
    @include buttonProps;
    @include placeitCenter;
    margin-top: 50px;
    &:hover {
      color: gray;
    }
  }
  @include media("<=922px") {
    flex-direction: column;
    gap: 2px;
  }
}
.testimonials__part__wrapper {
  width: 70%;
}

.user__options__wrapper {
  height: 200px;
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  > div {
    height: 60%;
    width: 270px;
    // border: 1px solid lightgray;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 40% 60%;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px 10px;
      background-color: whitesmoke !important;
      h1 {
        @include headingTypography(0.9rem);
        margin-top: 13px;
      }
      p {
        @include paraTypography(0.75rem);
        font-weight: 400;
      }
      button {
        @include buttonProps;
        margin: 0;
        transform: translateX(0);
        margin-top: 20px;
        padding: 4px 14px;
        font-size: 0.65rem;
      }
    }
  }
}
.options__box__one {
  background-color: #d7b18d;

  span {
    height: 100%;
    width: 100%;
    @include flexColumnAndCenter;
    svg {
      height: 35%;
      color: rgb(219, 160, 105);
    }
  }
}
.options__box__two {
  background-color: #e8f1ff;
  span {
    height: 100%;
    width: 100%;
    @include flexColumnAndCenter;
    svg {
      height: 80px;
      color: rgb(78, 116, 177);
    }
  }
}
.user__option__button__one {
  background-color: #ff9e15 !important;
  color: #fff !important;
  border: none !important;
}
.user__option__button__two {
  background-color: #000066 !important;
  color: #fff !important;
  border: none !important;
}

.testimonials__boxes {
  //   background-color: #f5f5f5;
  //   border: 1px solid lightgray;
  border-radius: 4px;
  width: 500px;
  //   background-color: #fff3e2;
  h1 {
    @include headingTypography(1.5rem);
    margin-bottom: 20px;
    font-weight: 500;
  }
  @include media("<=tablet") {
    width: 80vw;
    padding: 0 80px;
  }
  @include media("<=600px") {
    width: 100vw;
    padding: 0 60px;
  }
  @include media("<=phone") {
    width: 100vw;
    padding: 0 20px;
  }
}
// .testimonial__box {
//   padding: 30px 40px;
//   position: relative;
//   @include media("<=tablet") {
//     width: 100%;
//   }
//   h1 {
//     @include paraTypography(1rem);
//     font-weight: 600;
//   }
//   p {
//     @include paraTypography(0.875rem);
//     font-weight: 300;
//   }
// }
// .left__icon {
//   position: absolute;
//   left: 3px;
//   top: 20px;
//   svg {
//     height: 30px;
//     color: $logosBackgroundColor;
//   }
// }
// .right__icon {
//   position: absolute;
//   right: 3px;
// }

.testimonial__box {
  padding: 30px 50px;
  // max-width: 300px;
  position: relative;
  @include media("<=tablet") {
    width: 100%;
  }
  h1 {
    @include paraTypography(1rem);
    font-weight: 600;
  }
  p {
    @include paraTypography(1rem);
    font-weight: 300;
  }
}
.left__icon {
  position: absolute;
  left: 13px;
  top: 20px;
  svg {
    height: 30px;
    color: $logosBackgroundColor;
  }
}
.right__icon {
  position: absolute;
  right: 3px;
}
