/**
*
* Testing
*
**/
.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  background-color: #fff3e2;
}
.testimonials__container h1 {
  margin-top: 30px;
  font-size: 2rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #46484b;
  font-weight: 600;
  text-align: left;
  text-align: center;
}
.testimonials__container button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #46484b;
  border: 1px solid lightgray;
  padding: 9px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}
.testimonials__container button:hover {
  color: gray;
}
@media (max-width: 922px) {
  .testimonials__container {
    flex-direction: column;
    gap: 2px;
  }
}

.testimonials__part__wrapper {
  width: 70%;
}

.user__options__wrapper {
  height: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.user__options__wrapper > div {
  height: 60%;
  width: 270px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.user__options__wrapper > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 10px;
  background-color: whitesmoke !important;
}
.user__options__wrapper > div > div h1 {
  font-size: 0.9rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 13px;
}
.user__options__wrapper > div > div p {
  color: #46484b;
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: 400;
}
.user__options__wrapper > div > div button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #46484b;
  border: 1px solid lightgray;
  padding: 9px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0;
  transform: translateX(0);
  margin-top: 20px;
  padding: 4px 14px;
  font-size: 0.65rem;
}

.options__box__one {
  background-color: #d7b18d;
}
.options__box__one span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.options__box__one span svg {
  height: 35%;
  color: rgb(219, 160, 105);
}

.options__box__two {
  background-color: #e8f1ff;
}
.options__box__two span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.options__box__two span svg {
  height: 80px;
  color: rgb(78, 116, 177);
}

.user__option__button__one {
  background-color: #ff9e15 !important;
  color: #fff !important;
  border: none !important;
}

.user__option__button__two {
  background-color: #000066 !important;
  color: #fff !important;
  border: none !important;
}

.testimonials__boxes {
  border-radius: 4px;
  width: 500px;
}
.testimonials__boxes h1 {
  font-size: 1.5rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .testimonials__boxes {
    width: 80vw;
    padding: 0 80px;
  }
}
@media (max-width: 600px) {
  .testimonials__boxes {
    width: 100vw;
    padding: 0 60px;
  }
}
@media (max-width: 415px) {
  .testimonials__boxes {
    width: 100vw;
    padding: 0 20px;
  }
}

.testimonial__box {
  padding: 30px 50px;
  position: relative;
}
@media (max-width: 768px) {
  .testimonial__box {
    width: 100%;
  }
}
.testimonial__box h1 {
  color: #46484b;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: 600;
}
.testimonial__box p {
  color: #46484b;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: 300;
}

.left__icon {
  position: absolute;
  left: 13px;
  top: 20px;
}
.left__icon svg {
  height: 30px;
  color: #333385;
}

.right__icon {
  position: absolute;
  right: 3px;
}/*# sourceMappingURL=Testimonials.module.css.map */