/**
*
* Testing
*
**/
.upcoming__appointments__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  background-color: whitesmoke;
  border-left: 1px solid lightgray;
  margin-left: 280px;
  min-height: 100vh;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
@media (max-width: 980px) {
  .upcoming__appointments__container {
    margin-left: 0;
    width: 100vw;
    align-items: center;
  }
}
.upcoming__appointments__container > h1 {
  font-size: 1.6rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: -10px;
}
.upcoming__appointments__container h4 {
  font-size: 1.5rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-left: 40px;
  margin-top: 20px;
}

.upcoming__appointments {
  display: flex;
  flex-direction: column;
  width: 65vw;
  padding: 30px;
  gap: 30px;
  align-items: center;
}

.upcoming__appointment {
  padding: 20px;
  display: flex;
  position: relative;
  width: 50vw;
  gap: 10px;
  flex-direction: column;
  background-color: white;
  padding: 40px;
}
@media (max-width: 980px) {
  .upcoming__appointment {
    width: 80vw;
    padding-top: 50px;
  }
}
@media (max-width: 500px) {
  .upcoming__appointment {
    width: 95vw;
    padding-left: 12px;
  }
}

.remaining__time {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff3e2;
  padding: 4px 7px;
  border-radius: 4px;
}
@media (max-width: 980px) {
  .remaining__time {
    top: 10px;
  }
}

.row__one {
  display: grid;
  grid-template-columns: 30% 70%;
}
@media (max-width: 980px) {
  .row__one {
    grid-template-columns: 50% 50%;
  }
}
.row__one img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #778899;
}
.row__one > div > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #778899;
}
.row__one > div > h3 {
  font-size: 1.2rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.row__one > div > h5 {
  color: #3c3c3c;
  font-size: 0.9rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-left: 4px;
}
.row__one > div > span {
  color: red;
  font-size: 0.815rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3c;
}
.row__one > div > h6 {
  font-size: 1rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
}

.row__two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.row__two > div {
  display: flex;
  gap: 5px;
  align-items: center;
}
.row__two > div > span {
  color: red;
  font-size: 0.815rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #3c3c3c;
}
.row__two > div > h6 {
  font-size: 1rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}
.row__two > div > h3 {
  color: #46484b;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-weight: 500;
}

.row__three {
  margin-top: 10px;
}
.row__three button {
  background-color: red;
  padding: 7px 10px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

.setNow__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #46484b;
  border: 1px solid lightgray;
  padding: 9px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}/*# sourceMappingURL=UpcomingAppointment.module.css.map */