$primaryFont: "Open Sans", sans-serif;
$secondaryFont: "roboto";

//color for heading fonts
$primaryColor: #000;
//color for secondry fonts
$secondaryColor: #46484b;
//background color
$bgColor: #fff;
$yellowishColor: #ff9e15;
$darkBlueColor: #006;
$logosBackgroundColor: #333385;
$grayishBlack: #3c3c3c;

$creamColor: #fff3e2;
