@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "./mixin";
@import "./var";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home__page {
  padding-top: 70px;
}
//**** carousel on homepage**/
.Carousel__Container-sc-hyhecw-0.fPimMH {
  width: 100% !important;
}

/**********/
.all__experts__page {
  padding-top: 70px;
}
.all__experts__page > .wrapper {
  display: flex;
  margin-top: 2px;
}

/************** book appointment page **********************/
// .book__appointment__page {
//   width: 100%;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   gap: 5vh;
//   padding-top: 15vh;
//   position: relative;
// }

/******* reviews ***********/
.reviews__container {
  width: 70vw;
}

/*************** reviews***************************/
.reviews {
  width: 100%;
}
.reviews .comment__box {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50%;

  padding: 5px;
  display: flex;
  flex-direction: column;
}
.reviews .heading {
  /* border-bottom: 1px solid lightgray; */
  text-align: left;
  font-size: 1.3rem;
  padding: 5px 20px;
  width: 90%;
  /* margin: 0 5%; */
  height: 40px;
  font-family: var(--heading-font);
  color: black;
}
.comments {
  /* overflow-y: scroll; */
  height: 40vh;
  padding: 15px;
  width: 100%;
  margin: 0 0%;
}

.reviews .comment {
  background-color: rgba(235, 235, 235, 0.767);
  margin: 4px;
  border-radius: 3px;
  cursor: pointer;
  height: max-content;
}

.reviews .comment__writer {
  font-size: 19px;
  text-align: left;
  margin: 0;
  padding: 2px 5px;
  display: flex;
  align-items: center;
}
.reviews .comment__text {
  text-align: left !important;
  font-size: 17px !important;
  display: none;
  margin: 0 !important;
  padding: 2px 5px !important;
  margin-left: 10px;
  color: black !important;
}

.reviews .comment.active .comment__text {
  display: block;
}

.reviews .review {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  position: relative;
  margin-bottom: 2vh;
}
.reviews .review > h4 {
  color: black;
  padding: 5px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.reviews .review > p {
  color: black;
  padding: 5px;
  font-size: 0.8rem;
}
.reviews .review > span {
  position: absolute;
  bottom: 18px;
  right: 0;
  color: black;
  padding: 10px;
  font-size: 0.8rem;
}

/********* ongoin appoinr*************/

:root {
  --color1: whitesmoke;
}
// .video__call__container {
//   margin: 0;
//   padding: 0;
//   height: 100vh;
//   width: 100vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   background-color: #0c0c0c;
//   overflow: hidden;
//   background-color: #0c0c0c;
// }
// .video__call__navbar {
//   height: max-content;
//   width: 100vw;
//   height: 8vh;
//   position: absolute;
//   background-color: teal;
//   color: white;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .video__call__navbar > h3 {
//   font-size: 1.2rem;
//   padding: 10px;
//   text-align: center;
//   width: 100%;
//   height: 8vh;
// }
// /***** notifications ******/
// .video__call__notification__box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: white;
//   color: white;
//   position: absolute;
//   width: 100vw;
//   height: 10vh;
//   top: 0vh;
//   font-size: 1.1rem;
//   background-color: var(--dark-blue);
//   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
//     rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
//     rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
// }
// .video__call__notification__box > h1 {
//   font-size: 1.1rem;
// }
// .video__call__answerCall__btn {
//   margin-left: 15px;
//   padding: 10px;
//   background-color: var(--light-blue);
//   color: white;
//   cursor: pointer;
//   font-family: var(--body-font);
//   border: none;
//   border-radius: 3px;
//   transition: all 0.3s ease;
// }
// .video__call__answerCall__btn:hover {
//   background-color: white;
//   color: var(--light-blue);
//   border: 2px solid var(--light-blue);
// }
// /******   sidebar  *************/
// .video__call__options__container {
//   background-color: #0c0c0c;
//   position: absolute;
//   bottom: 0;
//   width: 100vw;
//   left: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 10px 20px;
//   /* border: 2px solid teal; */
//   border-bottom: none;
//   padding: 0px;
//   height: 18vh;
//   padding: 30px;
//   background-color: #0c0c0c;
// }
// .video__call__options__container__buttons {
//   margin-bottom: 10px;
//   background-color: #0c0c0c;
//   display: flex;
//   align-items: flex-start;
//   background-color: #0c0c0c;
// }
// .video__call__options__container__buttons > button {
//   padding: 5px 10px;
//   display: flex;
//   text-align: center;
//   justify-content: center;
//   align-items: center;
//   border-radius: 2px;
//   border: none;
//   cursor: pointer;

//   height: 160px;
//   width: 160px;
//   border-radius: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;
//   margin-top: -13vh;
//   transition: all 0.3s ease;
//   /****change****/
//   border-radius: 10px;
//   height: max-content;
//   width: 40vw;
//   padding: 22px 10px;
//   margin-top: 0;
//   font-size: 1.2rem;
// }
// .video__call__options__container__buttons > button > .MuiSvgIcon-root {
//   color: white;
// }
// .video__call__options__container__buttons > .startCall__btn {
//   background-color: var(--light-blue);
//   color: white;
//   cursor: pointer;
// }
// .video__call__options__container__buttons > .startCall__btn:hover {
//   background-color: white;
//   color: var(--light-blue);
//   border: 2px solid var(--light-blue);
// }
// .video__call__options__container__buttons
//   > .startCall__btn:hover
//   > .MuiSvgIcon-root {
//   color: var(--light-blue);
// }
// .video__call__options__container__buttons > .endCall__btn {
//   color: white;
//   background-color: rgb(160, 13, 13);
// }
// .video__call__options__container__buttons > .endCall__btn:hover {
//   background-color: white;
//   color: rgb(160, 13, 13);
//   border: 2px solid rgb(160, 13, 13);
// }
// .video__call__options__container__buttons
//   > .endCall__btn:hover
//   > .MuiSvgIcon-root {
//   color: rgb(160, 13, 13);
// }
// /**************  videoplayer *****************************************************/
// .video__call__videoplayer__container {
//   background-color: #0c0c0c;
//   margin-top: 0vh;
//   height: 82vh;
//   width: 100vw;
//   display: grid;
//   grid-template-columns: 50vw 50vw;
//   gap: 0 0;
//   position: absolute;
//   top: 0;
//   background-color: #0c0c0c;
// }
// /**************** changing ****************/
// .video__call__videoplayer__container > .screen {
//   background-color: #0c0c0c;

//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;

//   position: relative;

//   background-color: #0c0c0c;
// }
// .video__call__videoplayer__container > .screen > h5 {
//   color: black;
//   background-color: whitesmoke;
//   color: black;
//   height: 10vh;
//   width: 49vw;
//   display: flex;
//   text-align: center;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   bottom: 0;
//   font-size: 1.3rem;
//   background-color: var(--light-blue);
//   color: white;
// }
// .video__call__videoplayer__container > .screen > video {
//   margin: 0px;
//   width: 49vw;
//   height: 82vh;
//   position: absolute;
//   top: 0;
//   background-color: #0c0c0c;
// }

/*********** attended appointment**************/

/* .attended__appointment {
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  gap: 10px;
}
.attended__appointments > .heading {
  font-family: var(--heading-font);
  font-size: 1.3rem;
}
.attended__appointment .lawyer__info {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

}
.attended__appointment .lawyer__info h3 {
  font-size: 1.1rem;
}
.attended__appointment .lawyer__info img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.attended__appointment .appointment__info {
  flex: 0.3;
  padding: 10px;
}
.attended__appointment .appointment__info > h6 {
  font-size: 0.9rem;
}
.attended__appointment .appointment__info > span {
  font-size: 1.1rem;
  font-weight: bolder;
  width: 100px;
  color: gray;
}
.attended__appointment .review__box {
  display: flex;
  flex: 0.4;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.attended__appointment .review__box h1 {
  font-size: 1.1rem;
}
.attended__appointment .review__box .MuiSvgIcon-root {
  color: gold !important;
}
.attended__appointment .rating__btn {
  padding: 8px 8px;
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 5%;
}
.attended__appointment .rating__btn:hover {
  color: var(--dark-blue);
  background-color: white;
  border: 2px solid var(--dark-blue);
} */

/***** rating and review********/
.rating__and__review__modal {
  position: fixed;
  top: 7vh;
  left: -1vw;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10000;
  padding-top: 10vh;
}
.rating__and__review__wrapper {
  height: 500px;
  width: 30vw;
  background-color: white;

  padding: 10px;
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border-top: 15px solid var(--colorthree); */
  border-radius: 10px;
}
.skip__button {
  position: absolute;
  top: 0;
  right: 0;
  height: max-content;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
}
.rating__stars > p {
  // display: inline;
  width: 300px !important;
  margin-top: 10px;
}

.rating__wrapper {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}
.rating__wrapper > h1 {
  font-size: 1.1rem;
  margin-bottom: 3vh;
}
.rating__wrapper > h1 > span {
  color: var(--dark-blue);
}
.rating__wrapper > .rating__stars > span > .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}
.rating__wrapper > .rating__stars > span.shine > .MuiSvgIcon-root {
  color: goldenrod !important;
}

.review__wrapper {
  flex: 6;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  padding-top: 5vh;
}
.review__wrapper > h1 {
  font-size: 1.1rem;
  padding-bottom: 3vh;
}
.review__wrapper > input {
  width: 80%;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
}
.review__wrapper > input:focus {
  outline: none;
}
.review__wrapper > button {
  margin-top: 15px;
  // padding: 5px 10px;
  // background-color: var(--dark-blue);
  // color: white;
  // border: none;
  // width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  // text-align: center;
  // cursor: pointer;
  @include buttonProps;
}
// .review__wrapper > button:hover {
//   color: var(--colorfour);
//   background-color: white;
//   border: 3px solid var(--dark-blue);
// }

/****************** pending appointments *****************/
